
html {
    height: 100%;
}

.nav-item {
    letter-spacing: 1px;
}

.btn{
    box-shadow: none !important;
}

#getstarted {
    text-transform: uppercase;
}

.jumbotron-fluid{
    margin-top: px;
    background-image: url(../images/profile2.jpg);
    background-color: white;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 15%;
    margin-top: 20px;
    margin-bottom: 0px;
    min-width: 380px;
    line-height: 5px;
}

#profile {
    text-align: center;
    float: left;
}

#container2{
    background-image: url(../images/placeholder-image4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 7% 0 5% 0;
    min-height: 380px;
}

#texto2 {
    width: auto;
    height: auto;
    float: right;
}
